{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Do+Hyeon&display=swap" 
        rel="stylesheet">
    <link rel="stylesheet" href="login.css"/>     
    <title>main</title>
    <script src="login.js" defer></script>
</head>
<body>   
    <div id="reg">
        <!-- <h1><a href="../main/main.html">VILL VILL</a></h1> -->
        <div id="contents">
            <h2>로그인</h2>
            <form name="loginform" method="post" id="authForm" action="./login">
                <div>
                  <label for="username">사용자 이름</label>
                  <input type="email" class="form-control" name="username" id="username" value="{{ form.username.data or '' }}">
                </div>
                <div>
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="password" value="{{ form.password.data or '' }}">
                  </div>
                <button type="submit">로그인</button>
                <div>
                  <input type="checkbox" id="keepLogin" name="keepLogin">
                  <label for="keepLogin"><span>로그인 상태 유지</span></label>
                </div>
              </form>
        </div>
    </div>
</body>
</html>
{% endblock %}